#garglTable {
	width: 100%;
}

tr,th,td{
	text-align: left;
	border: 1px solid black;
}

#editFormFunctionRequestURL, #editFormFunctionDescription, #garglModuleDescription, #editFormFunctionRequestPostDataMimeType, .garglRequestFieldValue {
	width:600;
}